- name: install required packages
  apt:
  args:
      pkg: "{{ item }}"
      state: installed
  become: true
  with_items:
      - python-pip
      - python-setuptools

- name: run all guest tests
  become: true
  command: "{{ item }}"
  with_items:
    - pwd
    - ls -all
    - pip install pytest
    - ./run_all_guest_tests.sh
  args:
     chdir: guest

- name: halt kernel if test_and_halt is set
  command: "{{ item }}"
  with_items:
    - 'free && sync && echo 3 > /proc/sys/vm/drop_caches && free'
    - 'shutdown -P now'
  when: test_and_halt
